fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
bcrypt==4.0.1
psycopg2-binary
google-cloud-storage
fastapi-mail
alembic
httpx
cryptography
websockets